<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>目录</title>
</head>
<body>
	<h1 class="title">目录</h1>
	<p class="item">
		日历组件UI: <a href="components/calendar.html" class="item-href">calendar.html</a>
	</p>
	<p class="item">
		输入框组件UI: <a href="components/inputtext.html" class="item-href">inputtext.html</a>
	</p>
	<p class="item">
		Checkbox组件UI: <a href="components/checkbox.html" class="item-href">checkbox.html</a>
	</p>
	<p class="item">
		Radio组件UI: <a href="components/radio.html" class="item-href">radio.html</a>
	</p>
	<p class="item">
		下拉列表组件UI: <a href="components/dropdownlist.html" class="item-href">dropdownlist.html</a>
	</p>
	<p class="item">
		TodoList组件UI: <a href="components/todolist.html" class="item-href">todolist.html</a>
	</p>
	
</body>
</html>