<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Calendar</title>
	<link rel="stylesheet" type="text/css" href="../../styles/common.css">
</head>
<body>
	<div class="ui-calendar">
		<div class="header">
			<span class="arrow-left">&lt;</span>
			<p class="date">
				<span class="month">APRIL</span>
				<span class="year">2015</span>
			</p>
			<span class="arrow-right">&gt;</span>
		</div>
		<div class="body">
			<ul class="week-list">
				<li class="week-item">日</li>
				<li class="week-item">一</li>
				<li class="week-item">二</li>
				<li class="week-item">三</li>
				<li class="week-item">四</li>
				<li class="week-item">五</li>
				<li class="week-item">六</li>
			</ul>
			<ul class="day-list">
				<li class="day-item"></li>
				<li class="day-item"></li>
				<li class="day-item"></li>
				<li class="day-item now">1</li>
				<li class="day-item">2</li>
				<li class="day-item">3</li>
				<li class="day-item">4</li>
			</ul>
			<ul class="day-list">
				<li class="day-item">5</li>
				<li class="day-item">6</li>
				<li class="day-item">7</li>
				<li class="day-item">8</li>
				<li class="day-item">9</li>
				<li class="day-item">10</li>
				<li class="day-item">11</li>
			</ul>
			<ul class="day-list">
				<li class="day-item">12</li>
				<li class="day-item">13</li>
				<li class="day-item">14</li>
				<li class="day-item">15</li>
				<li class="day-item">16</li>
				<li class="day-item">17</li>
				<li class="day-item">18</li>
			</ul>
			<ul class="day-list">
				<li class="day-item">19</li>
				<li class="day-item">20</li>
				<li class="day-item">21</li>
				<li class="day-item">22</li>
				<li class="day-item">23</li>
				<li class="day-item">24</li>
				<li class="day-item">25</li>
			</ul>
			<ul class="day-list">
				<li class="day-item">26</li>
				<li class="day-item">27</li>
				<li class="day-item">28</li>
				<li class="day-item">29</li>
				<li class="day-item">30</li>
				<li class="day-item">31</li>
			</ul>
		</div>
	</div>
</body>
</html>