<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Checkbox</title>
	<link rel="stylesheet" type="text/css" href="../../styles/common.css">
</head>
<body>
	<!-- 选中添加on -->
	<div class="ui-checkbox">
		<input class="input-hidden" type="checkbox"></input>
		<span class="checkbox-body"></span>
		<span class="checkbox-text">这是多选框</span>
	</div>
	<div class="ui-checkbox on">
		<input class="input-hidden" type="checkbox"></input>
		<span class="checkbox-body"></span>
		<span class="checkbox-text">这是多选框</span>
	</div>
</body>
</html>