<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>下拉列表</title>
	<link rel="stylesheet" type="text/css" href="../../styles/common.css">
</head>
<body>
	<!-- dropdownlist 展开添加open -->
	<div class="ui-dropdown">
		<span class="dropdown-text">
			请选择....
			<span class="icon"></span>
		</span>
		<ul class="dropdown-body">
			<li class="dropdown-item">1111111</li>
			<li class="dropdown-item">2222222</li>
			<li class="dropdown-item">3333333</li>
		</ul>
	</div>

	<div class="ui-dropdown open">
		<span class="dropdown-text">
			请选择....
			<span class="icon"></span>
		</span>
		<ul class="dropdown-body">
			<li class="dropdown-item">1111111</li>
			<li class="dropdown-item">2222222</li>
			<li class="dropdown-item">3333333</li>
		</ul>
	</div>
</body>
</html>