<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>InputText</title>
	<link rel="stylesheet" type="text/css" href="../../styles/common.css">
</head>
<body>
	<!-- 正确添加success，错误添加error, 禁用disabled -->
	<div class="ui-input">
		<label class="ui-label">
			<span class="label-sign">*</span>
			<span class="label-text">姓名</span>
		</label>
		<input class="input-body" value="常态"></input>
	</div>
	<div class="ui-input success">
		<label class="ui-label">
			<span class="label-sign">*</span>
			<span class="label-text">姓名</span>
		</label>
		<input class="input-body" value="正确"></input>
	</div>
	<div class="ui-input error">
		<label class="ui-label">
			<span class="label-sign">*</span>
			<span class="label-text">姓名</span>
		</label>
		<input class="input-body" value="错误"></input>
	</div>
	<div class="ui-input disabled">
		<label class="ui-label">
			<span class="label-sign">*</span>
			<span class="label-text">姓名</span>
		</label>
		<input class="input-body" value="错误" disabled></input>
	</div>
</body>
</html>