<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Radio</title>
	<link rel="stylesheet" type="text/css" href="../../styles/common.css">
</head>
<body>
	<!-- 选中添加on -->
	<div class="ui-radio" data-radio="group">
		<input class="input-hidden" type="radio" name="group" checked></input>
		<span class="radio-body"></span>
		<span class="radio-text">这是单选框</span>
	</div>
	<div class="ui-radio on" data-radio="group">
		<input class="input-hidden" type="radio" name="group" checked></input>
		<span class="radio-body"></span>
		<span class="radio-text">这是单选框</span>
	</div>
</body>
</html>