<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TodoList</title>
	<link rel="stylesheet" type="text/css" href="../../styles/common.css">
</head>
<body>
	<div class="ui-list">
		<span class="input-group">
			<input type="text" class="list-input">
			<span class="icon"></span>
		</span>
		<ul class="list-body">
			<li class="list-item">
				<p class="item-text">对啊</p>	
				<span class="icon edite"></span>
				<span class="icon delete"></span>
			</li>
			<li class="list-item">
				<p class="item-text">1111111</p>
				<span class="icon edite"></span>
				<span class="icon delete"></span>
			</li>
			<li class="list-item">
				<p class="item-text">1111111</p>
				<span class="icon edite"></span>
				<span class="icon delete"></span>
			</li>
			<li class="list-item">
				<p class="item-text">1111111</p>
				<span class="icon edite"></span>
				<span class="icon delete"></span>
			</li>
		</ul>
	</div>
</body>
</html>