$mainColor: #8c91ff;

.ui-calendar{
	width: 360px;
	height: 369px;
	.header{
		width: 100%;
		height: 90px;
		background-color: $mainColor;
		font-size: 14px;
		color: #fff;
		line-height: 90px;
		text-align: center;
		.arrow-left,
		.arrow-right{
			cursor: pointer;
		}
		.arrow-left{
			float: left;
			margin-left: 30px;
		}
		.month{
			margin-right: 6px;
		}
		.date{
			display: inline-block;
		}
		.arrow-right{
			float: right;
			margin-right: 30px;
		}
	}
	.body{
		width: 100%;
		padding: 31px  29px 33px 30px;
		.week-list{
			width: 100%;
			height: 15px;
			margin-bottom: 30px;
			.week-item{
				width: 30px;
				height: 30px;
				text-align: center;
				float: left;
				margin-right: 15px;
				line-height: 30px;
			}
			.week-item:last-child{
				margin-right: 0;
			}
		}
		.day-list{
			@extend .week-list;
			.day-item{
				@extend .week-item;
				&.now{
					border: 1px solid $mainColor;
					border-radius: 50%;
				}
			}
			.day-item:last-child{
				margin-right: 0;
			}
		}
	}
}