@charset "UTF-8";
//-----------------------------------------------------
// setting scss
//-----------------------------------------------------

// font相关
//-----------------------------------------------------
$baseFontSize:          14px !default;     //by pxx
$fontCn:                "SimSun"; //宋体
$fontYaHei:             "Microsoft Yahei"; //微软雅黑
$fontHeiTi:             "SimHei"; //黑体


// 颜色相关
$green: #03a678; // 绿色
$red: #f44647;   // 红色
$gray: #e9edeb;  // 灰色
$blue: #00707f;  // 蓝色
$purple: #8c91ff; // 紫色